/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.*/

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-basic, fantasy);
  font-size: 18px;
  color: var(--accent-color, #000);
  background-image: var(--background-for-image);
  background-size: cover;
  background-color: var(--background-color, #fff);
  background-attachment: fixed;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-variation-settings-text);
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 327px;
  width: clamp(375px, 50%, 696px);
  margin-block-start: 100px;
  align-items: center;
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  background-color: var(--background-color, #fff);
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin: clamp(120px, 2.2em, 136px) auto 20px;
  text-decoration: none;
  cursor: text;
}

.title:focus {
  outline: none;
}

.subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin: 22px 0px 20px 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--font-variation-settings-text);
  text-transform: uppercase;
  position: relative;
  transition: var(--main-transition); 
}

.theme-menu__button:focus {
  outline: none;
  opacity: var(--opacity-text);
}

.theme-menu__button:hover {
  opacity: var(--opacity-text);
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  opacity: var(--opacity-text);
  background-color: var(--accent-color);
  top: 100%;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
  block-size: 2px;
  inline-size: 100%;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: var(--opacity-text);
  transition: var(--main-transition);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: moving-arrow 0.5s ease-in-out infinite alternate;
  left: -24px;
  top: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sheet_of_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 103px;
  gap: 53px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 760px;
  border: 2px solid var(--accent-color);
  width: clamp(375px, 50%, 696px);
  background-color: var(--background-color, #fff);
}

.title_card {
  font-family: var(--font-family-accent, Arial);
  padding: 5px 10px;
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--font-variation-settings-title);
}

.img_card {
  position: relative;
}

.image {
  width: 100%;
  min-height: 371px;
  margin-bottom: 2px;
  background-size: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

.image_laibel {
  position: absolute;
  top: 28px;
  right: 23px;
  opacity: 0.5;
  font-family: var(--font-family-basic, fantasy);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--laibel-shadow), 0 1px var(--laibel-shadow), 1px 0 var(--laibel-shadow), 0 -1px var(--laibel-shadow);
  z-index: 2;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  margin: 27px 34px 24px 25px;
}

.text_card {
  font-family: var(--font-family-accent, Arial);
  line-height: 117%;
  font-variation-settings: "wght" var(--font-variation-settings-text);
}

.buttons_card {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-self: flex-end;
  margin: 0 25px 25px 0;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  background: var(--background-color, #fff);
  position: relative;
  display: flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  flex-direction: row;
  background-color: var(--background-color, #fff);
}

.card__like-button {
  margin: 0;
  block-size: 39px;
  padding: 9px 17px;
  min-inline-size: 130px;
}

.dialog__button {
  margin: 0 0 32px;
  padding: 9px 0;
  line-height: 90%;
  text-transform: uppercase;
  inline-size: 82%;
}

.save_block {
  min-width: 335px;
  gap: 8px;
  margin: 50px 0 103px 0;
  padding: 13px 0px;
}

.card__icon-button {
  margin: 0;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  block-size: 39px;
  inline-size: 42px;
  transition: border 0.3s ease;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button::before {
  content: ""; 
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  background-color: var(--color-animat); 
  transform: scaleX(0); 
  transform-origin: left; 
  inline-size: 100%; 
  mix-blend-mode: difference; 
  block-size: 100%;
  transition: transform 0.5s ease-in-out; 
}

.button:hover::before{
  transform: scaleX(1);
}

.button__text {
  font-size: 14px;
  mix-blend-mode: difference;
  color: var(--text-color, #fff);
}

.button_block {
  display: flex;
  flex-direction: row;
  inline-size: clamp(306px, 24vw, 335px);
}

.floppy_img {
  max-width: 40px;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.save_block .floppy_img {
  width: 21px;
  height: 21px;
}

.dialog_form .floppy_img {
  margin: 43.5px 20px 42px 31.5px;
  width: 40px;
  height: 40px;
}

#dialog_save {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  padding: 0;
  color: inherit;
  font-family: var(--font-family-basic, fantasy);
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
  inline-size: clamp(341px, 40vw, 357px);
  background-color: var(--background-color, #fff);
}

.dialog_form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dialog__img {
  justify-self: center;
  max-width: 39px;
  width: 100%;
  height: auto;
  padding: 44px 20px 42px 42px;
}

.dialog__text {
  justify-self: flex-start;
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: clamp(198px, 70%, 234px);
  font-size: 14px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background: rgba(0,0,0,0.75);
}

.filter_sepia {
  filter: sepia(50%) hue-rotate(30deg);
}

.filter_blur {
  filter: blur(5px);
}

.filter_brightness {
  filter: brightness(50%);
}

.filter_contrast {
  filter: contrast(200%);
}

.filter_gray {
  filter: grayscale(100%);
}

.filter_hue {
  filter: hue-rotate(90deg);
}

.filter_invert {
  filter: invert(90%);
}

.filter_saturate {
  filter: saturate(200%);
}

@media (prefers-reduced-motion: no-preference) { 
  .theme-menu__button:disabled::before { 
    animation: moving-arrow 0.5s ease-in-out infinite alternate; 
  } 
} 
 
@supports ( 
         ( text-stroke: 1px var(--laibel-shadow)) or (-webkit-text-stroke: 1px var(--laibel-shadow)) 
          )  
{ 
  .image_laibel { 
   text-shadow: none; 
   text-stroke: 1px var(--laibel-shadow); 
   -webkit-text-stroke: 1px var(--laibel-shadow); 
		 } 
} 

@media (width <=375px) {
 
.sheet_of_cards {
  gap: 50px;
  margin-top: 100px;
}

.header {
  width: 100vw;
}

.card {
  width: 100vw;
}

.image_laibel {
  top: 25px;
  right: 11px;
} 

.save_block {
  min-width: 306px;
  flex-direction: column;
}

.save_block .floppy_img {
  width: 28px;
  height: 28px;
}
.dialog__button {
  inline-size: 75%;
}

.dialog_form .floppy_img {
  margin: 44px 20px 42px 42px;
}

.dialog_form .floppy_img {
  width: 39px;
  height: 39px;
}

}
