/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --font-variation-settings-text: 465;
  --font-variation-settings-title: 785;
  --background-color: #000;
  --border: 2px solid #00cc14;
  --accent-color: #00cc14;
  --text-color: #00cc14;
  --background-for-image: repeating-linear-gradient(180deg, #000 0 2px, rgb(244 152 173 / 0) 2px 4px), repeating-linear-gradient(90deg, #000 0 2px, rgb(244 152 173 / 0) 2px 4px), repeating-linear-gradient(180deg, #007f0c 0.01%, #004306);
  --laibel-shadow: #000;
  --color-animat: #00cc14;
  --circuit-heart: #00cc14; /*контур*/
  --filling-heart: #00cc14; /*тело*/
  --star-heart: #ff0000; /*звезды*/
  --core-heart: #00cc14; /*сердцевина*/
  --filling-heart-activ: #ff0000; /*в активном состоянии*/
}

.theme-dark .page {
  color: var(--accent-color, #00cc14);
  background-image: var(--background-for-image);
  background-color: var(--background-color, #000);
  font-variation-settings: "wght" var(--font-variation-settings-text);
}

.theme-dark .header {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.theme-dark .theme-menu__button {
  font-weight: var(--font-variation-settings-text);
}

.theme-dark .theme-menu__button::after {
  background-color: var(--accent-color);
}

.theme-dark .card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color, #000);
}

.theme-dark .title_card {
  font-variation-settings: "wght" var(--font-variation-settings-title);
}

.theme-dark .image_laibel {
  text-shadow: -1px 0 var(--laibel-shadow), 0 1px var(--laibel-shadow), 1px 0 var(--laibel-shadow), 0 -1px var(--laibel-shadow);
}

.theme-dark .text_card {
  font-weight: var(--font-variation-settings-text);
}

.theme-dark .card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.theme-dark .card__like-button {
  border: 2px solid var(--accent-color);
}

.theme-dark .button {
  background: var(--background-color, #000);
}

.theme-dark .button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.theme-dark .button::before {
  background-color: var(--color-animat);
}

.theme-dark .button__text {
  color: var(--text-color, #000);
}

.theme-dark .save_block {
  border: 2px solid var(--accent-color);
}

.theme-dark #dialog_save {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color, #000);
}

.theme-dark .dialog__button {
  border: 2px solid var(--accent-color);
}

@supports ((text-stroke: 1px var(--laibel-shadow)) or (-webkit-text-stroke: 1px var(--laibel-shadow))) {
  .theme-dark .image_laibel {
    text-stroke: 1px var(--laibel-shadow);
    -webkit-text-stroke: 1px var(--laibel-shadow);
  }
}

:root.theme-light {
  --font-variation-settings-text: 400;
  --font-variation-settings-title: 700;
  --background-color: #fff;
  --accent-color: #000;
  --text-color: #fff;
  --background-for-image: repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(244 152 173 / 0) 2px 4px), repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(244 152 173 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  --laibel-shadow: #fff;
  --color-animat: #fff;
  --circuit-heart: #000; /*контур*/
  --filling-heart: #ff0000; /*тело*/
  --star-heart: #ff0000; /*звезды*/
  --core-heart: #ff0000; /*сердцевина*/
  --filling-heart-activ: #000; /*в активном состоянии*/
}

.theme-light .page {
  color: var(--accent-color, #000);
  background-image: var(--background-for-image);
  background-color: var(--background-color, #fff);
  font-variation-settings: "wght" var(--font-variation-settings-text);
}

.theme-light .header {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.theme-light .theme-menu__button {
  font-weight: var(--font-variation-settings-text);
}

.theme-light .theme-menu__button::after {
  background-color: var(--accent-color);
}

.theme-light .card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color, #fff);
}

.theme-light .title_card {
  font-variation-settings: "wght" var(--font-variation-settings-title);
}

.theme-light .image_laibel {
  text-shadow: -1px 0 var(--laibel-shadow), 0 1px var(--laibel-shadow), 1px 0 var(--laibel-shadow), 0 -1px var(--laibel-shadow);
}

.theme-light .text_card {
  font-weight: var(--font-variation-settings-text);
}

.theme-light .card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.theme-light .card__like-button {
  border: 2px solid var(--accent-color);
}

.theme-light .button {
  background: var(--background-color, #fff);
}

.theme-light .button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.theme-light .button::before {
  background-color: var(--color-animat);
}

.theme-light .button__text {
  color: var(--text-color, #fff);
}

.theme-light .save_block {
  border: 2px solid var(--accent-color);
}

.theme-light #dialog_save {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color, #fff);
}

.theme-light .dialog__button {
  border: 2px solid var(--accent-color);
}

@supports ((text-stroke: 1px var(--laibel-shadow)) or (-webkit-text-stroke: 1px var(--laibel-shadow))) {
  .theme-light .image_laibel {
    text-stroke: 1px var(--laibel-shadow);
    -webkit-text-stroke: 1px var(--laibel-shadow);
  }
}

@media (prefers-color-scheme: light) {
  @supports ((text-stroke: 1px var(--laibel-shadow)) or (-webkit-text-stroke: 1px var(--laibel-shadow))) {
    .image_laibel {
      text-shadow: none;
      text-stroke: 1px var(--laibel-shadow);
    }
  }

  :root {
    --font-variation-settings-text: 400;
    --font-variation-settings-title: 700;
    --background-color: #fff;
    --accent-color: #000;
    --text-color: #fff;
    --background-for-image: repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(244 152 173 / 0) 2px 4px), repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(244 152 173 / 0) 2px 4px),
      repeating-linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
    --laibel-shadow: #fff;
    --color-animat: #fff;
    --circuit-heart: #000; /*контур*/
    --filling-heart: #ff0000; /*тело*/
    --star-heart: #ff0000; /*звезды*/
    --core-heart: #ff0000; /*сердцевина*/
    --filling-heart-activ: #000; /*в активном состоянии*/
  }

  .page {
    color: var(--accent-color, #000);
    background-image: var(--background-for-image);
    background-color: var(--background-color, #fff);
    font-variation-settings: "wght" var(--font-variation-settings-text);
  }

  .header {
    border: 2px solid var(--accent-color);
    background-color: var(--background-color);
  }

  .theme-menu__button {
    font-weight: var(--font-variation-settings-text);
  }

  .theme-menu__button::after {
    background-color: var(--accent-color);
  }

  .card {
    border: 2px solid var(--accent-color);
    background-color: var(--background-color, #fff);
  }

  .title_card {
    font-variation-settings: "wght" var(--font-variation-settings-title);
  }

  .image_laibel {
    text-shadow: -1px 0 var(--laibel-shadow), 0 1px var(--laibel-shadow), 1px 0 var(--laibel-shadow), 0 -1px var(--laibel-shadow);
  }

  .text_card {
    font-weight: var(--font-variation-settings-text);
  }

  .card__icon-button:focus-visible {
    border: 2px solid var(--accent-color);
  }

  .card__like-button {
    border: 2px solid var(--accent-color);
  }

  .button {
    background: var(--background-color, #fff);
  }

  .button:focus {
    box-shadow: 2px 2px 0 var(--accent-color);
  }

  .button::before {
    background-color: var(--color-animat);
  }

  .button__text {
    color: var(--text-color, #fff);
  }

  .save_block {
    border: 2px solid var(--accent-color);
  }

  #dialog_save {
    border: 2px solid var(--accent-color);
    background-color: var(--background-color, #fff);
  }

  .dialog__button {
    border: 2px solid var(--accent-color);
  }

  @supports ((text-stroke: 1px var(--laibel-shadow)) or (-webkit-text-stroke: 1px var(--laibel-shadow))) {
    .image_laibel {
      text-stroke: 1px var(--laibel-shadow);
      -webkit-text-stroke: 1px var(--laibel-shadow);
    }
  }
}

@media (prefers-color-scheme: dark) {
  @supports ((text-stroke: 1px var(--laibel-shadow)) or (-webkit-text-stroke: 1px var(--laibel-shadow))) {
    .image_laibel {
      text-shadow: none;
      text-stroke: 1px var(--laibel-shadow);
    }
  }

  :root {
    --font-variation-settings-text: 465;
    --font-variation-settings-title: 785;
    --background-color: #000;
    --border: 2px solid #00cc14;
    --accent-color: #00cc14;
    --text-color: #00cc14;
    --background-for-image: repeating-linear-gradient(180deg, #000 0 2px, rgb(244 152 173 / 0) 2px 4px), repeating-linear-gradient(90deg, #000 0 2px, rgb(244 152 173 / 0) 2px 4px), repeating-linear-gradient(180deg, #007f0c 0.01%, #004306);
    --laibel-shadow: #000;
    --color-animat: #00cc14;
    --circuit-heart: #00cc14; /*контур*/
    --filling-heart: #00cc14; /*тело*/
    --star-heart: #ff0000; /*звезды*/
    --core-heart: #00cc14; /*сердцевина*/
    --filling-heart-activ: #ff0000; /*в активном состоянии*/
  }

  .page {
    color: var(--accent-color, #00cc14);
    background-image: var(--background-for-image);
    background-color: var(--background-color, #000);
    font-variation-settings: "wght" var(--font-variation-settings-text);
  }

  .header {
    border: 2px solid var(--accent-color);
    background-color: var(--background-color);
  }

  .theme-menu__button {
    font-weight: var(--font-variation-settings-text);
  }

  .theme-menu__button::after {
    background-color: var(--accent-color);
  }

  .card {
    border: 2px solid var(--accent-color);
    background-color: var(--background-color, #000);
  }

  .title_card {
    font-variation-settings: "wght" var(--font-variation-settings-title);
  }

  .image_laibel {
    text-shadow: -1px 0 var(--laibel-shadow), 0 1px var(--laibel-shadow), 1px 0 var(--laibel-shadow), 0 -1px var(--laibel-shadow);
  }

  .text_card {
    font-weight: var(--font-variation-settings-text);
  }

  .card__icon-button:focus-visible {
    border: 2px solid var(--accent-color);
  }

  .card__like-button {
    border: 2px solid var(--accent-color);
  }

  .button {
    background: var(--background-color, #000);
  }

  .button:focus {
    box-shadow: 2px 2px 0 var(--accent-color);
  }

  .button::before {
    background-color: var(--color-animat);
  }

  .button__text {
    color: var(--text-color, #000);
  }

  .save_block {
    border: 2px solid var(--accent-color);
  }

  #dialog_save {
    border: 2px solid var(--accent-color);
    background-color: var(--background-color, #000);
  }

  .dialog__button {
    border: 2px solid var(--accent-color);
  }

  @supports ((text-stroke: 1px var(--laibel-shadow)) or (-webkit-text-stroke: 1px var(--laibel-shadow))) {
    .image_laibel {
      text-stroke: 1px var(--laibel-shadow);
      -webkit-text-stroke: 1px var(--laibel-shadow);
    }
  }
}
